.peri {
    background-color: #505EA1;
    color: white;
}
.icon {
    font-size: 2rem;
}

.imgSize {
    width: auto;
    height: 5vh;
    color: white;
}
.rs {
    width: 3rem;
    height: auto;
}
.sizeImg {
    width: 100%;
    height: auto;
}