.peri {
    background-color: #505EA1;
    color: white;
}
.rose {
    background-color: #f6ced2;
    color: white;
}
.icon {
    font-size: 2rem;
}

.imgSize {
    width: auto;
    height: 5vh;
    color: white;
}
.rs {
    width: 3rem;
    height: auto;
}
.sizeImg {
    width: auto;
    height: 100%;
}
.Size {
    height: 88vh;
    background-color: #f6ced2;
    text-align: center;

}
@media only screen and (max-width: 440px){
    .sizeImg {
        width: 100%;
        height: 76.2vh;
        object-fit: contain;
    } 
    .Size {
        height: auto;
    } 
}
.peri:hover {
background-color: #505EA1;
color: white;
}    
.rose:hover {
    background-color: #f6ced2;
    color: white;
}
